.string {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 5s infinite;
  align-items: center;
  padding: 4px 2px;

}

.greeting {
  position: relative;
  top: 8.6vmin;
  animation: white-out 5s infinite;
  padding: 2px 0px;
  margin-top: 6px;
}

@media (max-width: 400px) {
  .greeting {
    top: 3rem;
    margin-top: 0;
  }
}




.greeting:nth-child(1) {

    padding-top: 4px;
  color: #fa8231;
 
}
@media (max-width: 605px) {
  .greeting {
    top: 3.5rem;
   
  }
  .greeting:nth-child(1) {

    padding-top: 0;
 
}
}

.greeting:nth-child(2){
  color: white;
}

.greeting:nth-child(3){
  color: #c678dd;
}

.greeting:nth-child(4){
  color: #a9b0bd;
}

@keyframes move {
  25% {
    transform: translatey(-5.8vmin);
    opacity: 1;
  }
  50% {
    transform: translatey(-11vmin);
  }
  75% {
    transform: translatey(-16.5vmin);
  }
}